/* 
Basic Setup
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    min-height: 100%;
    background-color: #fff;
    background-size: 100%;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 25px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

section {
    padding: 10%;
}

/*
Header and Home Text
*/

header {

    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    padding-top: 2%;
}

header h1 {
    color: #fff;
    font-size: 300%;
    font-weight: 200;
    margin-bottom: 10%;
    margin-top: 5%;
}

header h2 {
    color: #fff;
    font-size: 150%;
    font-weight: 300;
}

.home-text-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    padding-bottom: 10%;
    padding-top: 5%;
}

.selfPhoto {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}

/* Navigation Box */

nav {
    list-style: none;
    background-color: #88BDBC;
    opacity: 0.8;
}

.nav-fixed {
    display: inline-block;
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
} 

/* Hamburger Button Navbar */

.hamburger-toggle {
    display: none;
}

.hamburger-icon i {
    display: none;
}

/* Navigation Buttons */

a:link,
a:visited {
    font-size: 130%;
    color: #fff;
    text-decoration: none;
}

.btn-ghost {
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.btn-ghost:link,
.btn-ghost:visited {
   color: #fff;   
}

/* About Section */

.section-about {
    background-color: #88bdbc62;
    height: 60%;
    padding: 5%;
    padding-top: 10%;
}

.section-about h2 {
    color: #555;
    font-size: 250%;
    font-weight: 300; 
    text-align: center;
    padding-bottom: 5%;
}
.section-about h3 {
    color: #555;
    font-size: 150%;
    font-weight: 300; 
    text-align: center;
    padding-bottom: 5%;
}

.section-about div {
    text-align: center;
}

.icons-language {
    padding-top: 5%;
}

.section-about p {
    color: #555;
    text-align: center;
    line-height: 150%;
    
}

.icon-img {
    height: 90px;
    width: 90px;
}

/* Portfolio Section */

.section-portfolio {
    padding: 5%;
    background-color: #f4f4f4;
}

.section-portfolio a {
    color: #555;
    font-size: 100%;
    font-weight: 400;
    display: block;
    text-align: center;
    padding-bottom: 5%;
}

.section-portfolio a:hover {
    color: rgb(175, 171, 171);
    font-size: 100%;
    font-weight: 400;
    display: block;
    text-align: center;
    padding-bottom: 5%;
}

.project-box {
    height: 100%;
    background-color: #fff;
    color: #555;
    border-radius: 5px;
    margin: 2% 0;
}

.info-paragraph {
    text-align: center;
    font-size: 18px;
    padding-bottom: 5%;
}

.project-box div {
    
    padding: 10px 15px 10px 15px;
    border: 1px solid #e8e8e8;
}

.project-description {
    font-size: 100%;
    margin-bottom: 5px;
}

.project-box ul {
    list-style: none;
}

.project-box ul li {
    padding: 5px 0;
}

.project-box h3 {
    padding-bottom: 15px;
}

.project-description {
    font-size: 75%;
}

.project-box p {
    height: 100%;
    width: 100%;
    padding-bottom: 5%;
}

.project-box img {
    height:  90%;
    width: 100%;
    border: 1px solid #e8e8e8;
}

.projects h2 {
    color: #555;
    font-size: 250%;
    font-weight: 300; 
    text-align: center;
}

/* Contact Section */

.section-contact {
    background-color: #254E58;
    color: #000;
    text-align: center;
    height: 100%;
    width: 100%;
    word-spacing: 1rem;
    line-height: 200%;
    font-size: 150%;
}

.icons-links div {
  display: inline-block;
  padding: 20px 20px;
}

/* Media */

@media only screen and (min-width: 500px) {
    .nav-hamburger {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    nav li {
      font-size: 80%;
    }
}

@media only screen and (max-width: 600px) {
    nav li {
      font-size: 60%;
    }
  }

@media only screen and (max-width: 500px) {
    .nav-hamburger {
        display: block;
    }

    nav {
        display: none;
        background: none;
    }

    .nav-fixed {
      display: none;
    }

    .hamburger-icon i {
        display: flex;
        box-shadow: none;
        background-color: transparent;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 30px;
        height: .1px !important;
    }

    .hamburger-toggle {
        display: none;
    }

    .icons-links div {
        display: block;
        padding: 0;
      }

    .phone {
          padding-bottom: 10%;
    }

    .section-contact {
        font-size: 100%;
    }

    .section-about p {
        font-size: 80%;
    }

    header h1 {
        color: #fff;
        font-size: 200%;
        font-weight: 200;
        margin-bottom: 10%;
        margin-top: 5%;
    }

    header h2 {
        font-size: 100%;
    }

    .back-to-top-btn {
        display: none;
        position: fixed;
        bottom: 5%;
        right: 10%;
        z-index: 99;
        border: none;
        outline: none;
        background-color: #88BDBC;
        opacity: 80%;
        color: white;
        cursor: pointer;
        padding: 10px;
        border-radius: 10px;
        font-size: 50%;
    }
        
  } 

  @media screen and (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }